@CHARSET "UTF-8";

.box{
	background-color : #fef3f3;
	font-size : 1.3em; 
	padding : 10px;
	margin : 5px;

	border-top : 4px double blue;
	border-bottom: 4px double blue;
	
}


.box pre{
	
	font-size : 1.1em;
	background-color : #d8d8d8;
	margin : 5px;
}


#result1{
	
	border : 1px dotted orange;
	padding : 10px;
	margin : 5px;
	
}


.box #result1, .box .dd{
	
	border : 1px dotted orange;
	padding : 10px;
	margin : 5px;
	
}  

.box input[type = button]{
	
	background-color : blue;
	color : white;
	padding : 5px 10px;
	width : 150px;
	height : 50px;
	
	border-radius : 50px;
	margin : 10px;
	font-size : 1.2em;
	
	
}






